<div class="container py-5">
  <div class="text-center mb-4">
    <h6 class="text-muted">{{ workshop.name }}</h6>
    <div class="header-line mx-auto"></div>
  </div>

  @if(showThanksMessage){
  <div class="thanks-text-container">
    <h4 class="thanks-text">
      ¡Gracias por compartir sus comentarios con nosotros!
    </h4>
    <a class="mt-5" href="/boxes">Volver a calificarnos</a>
  </div>
  } @if(!showThanksMessage){

  <div class="text-center mb-4">
    <p>Hola Nicolás, gracias por confiar en nosotros.</p>
  </div>

  <div class="text-center mb-4">
    <h5>{{ surveyConfig.pregunta }}</h5>
  </div>

  <div class="d-flex justify-content-center mb-3 gap-4">
    <div class="text-center rate-container">
      <button
        type="button"
        class="btn border-rate-selected"
        [ngClass]="{
          'rate-selected': rating === 1,
          'btn-outline-secondary': rating !== 1
        }"
        (click)="setRating(1)"
      >
        1
      </button>
      @if(rating === 1){
      <div  class="text-muted mt-2">{{ texts[0] }}</div>
      }
    </div>

    <div class="text-center rate-container">
      <button
        type="button"
        class="btn border-rate-selected"
        [ngClass]="{
          'rate-selected': rating === 2,
          'btn-outline-secondary': rating !== 2
        }"
        (click)="setRating(2)"
      >
        2
      </button>
      @if(rating === 2){
      <div  class="text-muted mt-2">{{ texts[1] }}</div>
      }
    </div>

    <div class="text-center rate-container">
      <button
        type="button"
        class="btn border-rate-selected"
        [ngClass]="{
          'rate-selected': rating === 3,
          'btn-outline-secondary': rating !== 3
        }"
        (click)="setRating(3)"
      >
        3
      </button>
      @if(rating === 3){
      <div  class="text-muted mt-2">{{ texts[2] }}</div>
      }
    </div>

    <div class="text-center rate-container">
      <button
        type="button"
        class="btn border-rate-selected"
        [ngClass]="{
          'rate-selected': rating === 4,
          'btn-outline-secondary': rating !== 4
        }"
        (click)="setRating(4)"
      >
        4
      </button>
      @if(rating === 4){
      <div  class="text-muted mt-2">{{ texts[3] }}</div>
      }
    </div>

    <div class="text-center rate-container">
      <button
        type="button"
        class="btn border-rate-selected"
        [ngClass]="{
          'rate-selected': rating === 5,
          'btn-outline-secondary': rating !== 5
        }"
        (click)="setRating(5)"
      >
        5
      </button>
      @if(rating === 5){
      <div  class="text-muted mt-2">{{ texts[4] }}</div>
      }
    </div>
  </div>

  <div [ngClass]="{ 'mb-4': rating !== 0, 'no-text-spacing': rating == 0 }">
    @if(rating !== 0){
    <textarea
      class="form-control no-resize"
      maxlength="500"
      rows="4"
      placeholder="Contanos tu experiencia"
      [(ngModel)]="feedback"
    ></textarea>
    }
  </div>

  <div class="d-grid mb-4">
    <button
      type="button"
      class="btn text-white fw-bold"
      [ngClass]="{ 'btn-pink': rating !== 0, 'btn-disabled': rating == 0 }"
      (click)="submitFeedback()"
      [disabled]="rating == 0"
    >
      <span [ngClass]="{ 'btn-disabled-text': rating == 0 }">ENVIAR</span>
    </button>
  </div>
  }

  <div class="text-center">
    <h6 class="mb-1">{{ workshop.name }}</h6>
    <p class="text-muted">{{ workshop.formatted_address }}</p>
  </div>

  <div class="d-flex justify-content-center gap-3 mb-3">
    <button
      type="button"
      class="btn btn-link-info btn-whatsapp"
      (click)="openWhatsApp()"
    >
      <i class="bi bi-whatsapp whatsapp-icon"></i> Whatsapp
    </button>
    <button
      type="button"
      class="btn btn-map btn-link-info"
      (click)="openGoogleMaps()"
    >
      <img src="assets/icon/maps.png" class="map-icon" alt="" />Ver en mapa
    </button>
  </div>

  <div class="text-center">
    <p class="mb-1">
      <img src="assets/icon/phone.png" class="map-icon" alt="" />
      <span class="contact-text">(+54) 123 4567500</span>
    </p>
    <p>
      <i class="bi bi-envelope secondary-contacts"></i>
      <span class="contact-text">{{ workshop.email }}</span>
    </p>
  </div>
</div>
